
.reservar-espacio-form {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-areas: "img nPersonas"
    "img fecha"
    "img horario"
    "img categoria"
    "img buttons"
    ;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem;
}

.img {
    grid-area: img;
    width: 100%;
    padding-left: 1rem;
    border-radius: 2rem;
    height: 95%;
}

.nPersonas {
    grid-area: nPersonas;
}

.fecha {
    grid-area: fecha;
}

.categoria {
    grid-area: categoria;
}

.buttons {
    grid-area: buttons;
}

.btn-reservar-espacio {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    margin: 0 3rem;
    background: linear-gradient(to bottom, #7ed957, #4caf50);
    box-shadow: 0 4px 0 #3e8e41;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 140px;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn-cancelar-espacio{
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    margin: 0 3rem;
    background: linear-gradient(to bottom, #ec550f, #e46714);
    box-shadow: 0 4px 0 #ee2906;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 140px;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;    
}

