/* CONTENEDOR PRINCIPAL */
.container-forgot {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    padding-bottom: 30px;
    height: 100vh;
}

/* PANEL IZQUIERDO */
.left-panel-forgot {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    padding: 0 2rem;
}

/* LOGO */
.logo-forgot {
    height: 5rem;
    margin-bottom: 6rem;
}

.logo-forgot img {
    height: 60px;
    width: 28%;
    margin-top: 1rem;
}

/* TITULOS */
.left-panel-forgot h1 {
    font-size: 38px;
    font-weight: 950;
    margin-bottom: 1rem;
}

.subtitle-forgot {
    color: #888;
    margin-bottom: 2rem;
}

/* FORMULARIO */
.form-forgot {
    display: grid;
    grid-template-rows: auto auto 1fr;
    row-gap: 20px;
}

.form-forgot input {
    width: 95%;
    height: 3.5rem;
    padding: 0 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background: #f3f3f3;
    outline: none;
    font-size: 16px;
}

/* BOTÓN VOLVER */
.back-login-btn {
    width: 60%;
    height: 45px;
    border: none;
    background: none;
    color: #444;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.back-login-btn:hover {
    opacity: 0.7;
}

/* BOTÓN ENVIAR */
.btn-send-forgot {
    width: 180px;
    height: 50px;
    padding: 15px;
    background: linear-gradient(to bottom, #f5e200, #e1892c);
    color: black;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;     
    justify-content: center;
}

.btn-send-forgot:hover {
    background: #ffbe1a;
}

/* PANEL DERECHO */
.right-panel-forgot {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.container-img-forgot {
    width: 97%;
    height: 97%;
    padding: 0.5rem;
    border-radius: 2%;
    background: linear-gradient(to bottom, #f5e200, #e1892c);
    display: flex;             /* <-- permite centrar la imagen */
    justify-content: center;   /* <-- centra horizontal */
    align-items: center;   
}

