body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    border-top: 2px solid #e0e0e0;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 60px;
}

.admin .h4 {
    justify-content: space-between;
    font-weight: bold;
}

.logo {
    font-weight: bold;
    color: #c89d00;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 70%;
    width: 15%;
    margin-left: 21px;
    color: #c89d00;

}

.principal {
    margin: 3rem 3rem 2rem;
}

.menu {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

.menu a {
    text-decoration: none;
    color: #000;
}

.hero-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.hero-container img {
    width: 33.33%;
    height: 320px;
    object-fit: cover;
}

.section-info {
    padding: 40px 80px;
}

.section-info h2 {
    font-size: 26px;
}

.footer-banner {
    background: linear-gradient(to right, #ffd700, #f28500);
    height: 50px;
    margin-top: 20px;

}

/* 🎞 Contenedor general */
.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 250px;
    /* Ajusta la altura del carrusel */
}

/* 🎞 Pista que se mueve de derecha a izquierda */
.carousel-track {
    display: flex;
    width: max-content;
    animation: scroll-left 25s linear infinite;
}

/* 🎞 Imágenes del carrusel */
.carousel-track img {
    width: 350px;
    /* Ajusta el tamaño que necesites */
    height: 250px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 15px;
}

.right-side-icon {
    display: grid;
    place-items: center;
}

.logoValle {
    width: 50%;
    height: auto;
}

.principal-content {
    display: flex;
    padding: 0 1rem;
}

/* 🎞 Animación de desplazamiento infinito */
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}