
/* CONTENEDOR PRINCIPAL */  
.container-login {
    position: fixed;
    width: 100%;
    max-width: 100% !important;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    background: white;
    color: #000;
    padding-bottom: 30px;
    box-sizing: border-box !important;
}

/* PANEL IZQUIERDO */
.left-panel{
    display: grid;
    grid-template-rows: auto auto auto 2fr;
    width: 100%;
    padding: 0 1rem
}

.logo-login {
    height: 5rem;
    width: 30rem;
    margin-left: 21px;
    color: #c89d00;
    margin-bottom: 4rem;
}

.logo-login img {
    height: 76%;
    width: 35%;
    margin-top: 1rem;
}

/* TEXTOS */
.title-login {
    font-size: 47px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.subtitle {
    color: #888;
}

/* FORMULARIO con GRID */
.form {
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    row-gap: 15px;
}

.form input {
    width: 95%;
    height: 3.5rem;
    padding: 0 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background: #f3f3f3;     /* ← ESTE ES EL QUE TE FALTA */
    color: #000;         
}

/* OPCIONES (Recordarme + Link) */
.options {
    display: flex;
    width: 100%;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.check {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.check input {
    width: 1rem;
    padding: 0;
    background: #b80808;
}

.check span {
    margin-left: 8px;
}

.forgot-link {
    justify-self: center;
    text-decoration: none;
    color: black;
}

.forgot-link:hover {
    text-decoration: underline;
}

.redirect {
    display: flex;
    width: 100%;
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

/* BOTÓN */
.btn-login {
    width: 150px;
    height: 50px;
    padding: 15px;
    background: linear-gradient(to bottom, #f5e200, #e1892c);
    color: black;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;     
    justify-content: center;
}

.btn-login:hover {
    background: linear-gradient(to bottom, #f5e200, #e1892c)  !important;
}

.btn:hover {
    background: #ffbe1a;
}
/* PANEL DERECHO - GRID CENTRADO */
.right-panel {
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}

.container-img {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
}

.calendar-img {
    background: linear-gradient(to bottom, #f5e200, #e1892c);
    border-radius: 2%;  
    width: 100%;
    height: 98%;
}