/* CONTENEDOR PRINCIPAL */
.register-content {
    position: fixed;
    width: 100%;
    max-width: 100% !important;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    border-radius: 8px;
    background: white;
    color: #000;
    padding-bottom: 30px;
    box-sizing: border-box !important;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 700;
  font-style: normal;
}



.left-panel-register{
    display: grid;
    grid-template-rows: auto auto auto 2fr;
    width: 100%;
    padding: 0 1rem
}


.site-header {
  width: 100%;
  height: 75px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.site-logo {
  position: absolute;
  left: 2rem;
  top: 1rem;
  height: 80%;
  width: auto;
  object-fit: cover;
  z-index: 1;
}

.title-register {
  font-weight: bold;
}
.subtitle-register{
  margin-top: 1.5rem;
  color: #888; 

}

.page-heading {
  text-align: left;
  color: #000;
}

.page-heading h1 {
  margin-top: 45px;
  color: #222;
}

.form-container {
  height: 85vh; 
}

.btn-register {
    width: 150px;
    height: 50px;
    padding: 15px;
    background: linear-gradient(to bottom, #f5e200, #e1892c);
    color: black;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;     
    justify-content: center;
}
.btn-register:hover{ 
   background: #ffbe1a;
}
.password-toggle {
  position: absolute;
  right: 15px;
  /* distancia desde el borde derecho */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #555;
  user-select: none;
}


.input-wrapper {
  position: relative;
  width: 100%;
}

.inp {
  padding: 15px 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
  width: 100%;
  height: 3.2rem;
  padding-right: 40px;
}
/* para que el valor seleccionado en el select sea gris */
.inp {
  color: #888;
}

/* y también las opciones del desplegable */
.inp option {
  color: #888;
}

.btn-eye {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  color: #333;
}

.btn-eye:hover {
  opacity: 0.7;
}

.right-panel-register{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
}
.logo-container-register {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #f5e200, #e1892c);
    border-radius: 5%;  
    border-top: 10px solid rgba(255, 255, 255, 0.9);
    border-bottom: 15px solid white;
    padding: 0.5rem
}
.click-img{
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
  transform: scale(1.28);
  cursor: pointer;
}


    