.users-wrapper {
  padding: 30px;
  background: #fff;
}

.align-items-center {
    margin-top: -30px;
}
.title-users {
    text-align: left;
    font-size: 25px;
    margin-left: -210px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 10px;
}
.search-input {
  border-radius: 20px;
  margin-top: -25px;
}

.add-btn-users{
    background: #3dbb3d !important;
    color: white;
    border: none;
    padding: 6px 18px !important;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}
.opciones-usuarios{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.users-table thead th {
  background: #fafafa;
  font-weight: 600;
  text-align: center;
}


.users-table tbody td {
  padding-top: 18px;
  padding-bottom: 18px;
  vertical-align: middle;
}

.users-table button {
  border-radius: 10px;
}