.users-wrapper {
  padding: 30px;
  background: #fff;
}

.align-items-center {
    margin-top: -30px;
}
.title-users {
    text-align: center;
    font-size: 25px;
    margin-left: -120px;
}
.search-input {
  border-radius: 20px;
}

.add-btn {
  font-weight: bold;
  border-radius: 10px;
}

.users-table thead th {
  background: #fafafa;
  font-weight: 600;
  text-align: center;
}

.users-table tbody td {
  padding-top: 18px;
  padding-bottom: 18px;
  vertical-align: middle;
}

.users-table button {
  border-radius: 6px;
}
